<%- include("./partials/Auth/header")%>

<div class="container-fluid">
    <div class="login-container text-center">
        <form class="mb-3" action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" type="text" name="username" class="form-control" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" class="form-control" autocomplete="off">
            </div>
                <button class="btn btn-outline-light btn-lg">LOG IN</button>
        </form>
        <span>Don't have an account?</span><a href="/register"> Register here</a>
    </div>
</div>


<%- include("./partials/Auth/footer")%>